# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 */1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install feedparser
        
    - name: Run Update Python Script
      run: python main.py
      
    - name: Commit and push changes
      run: |
        git config --local user.email "sollucidus0221@naver.com"
        git config --local user.name "KimSeoYeon23"
        git add .
        
        # 변경사항이 있을 때만 커밋
        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Update README.md"
          git push
        fi
